@media only screen and (min-width: 700px) {

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Georgia, Trajan, "Times New Roman", serif;
}

.Sale{
	width: 100%;
	height: 5%;
	background-color: #DC143C;
	color: white;
	text-align: center;
	border-bottom: 1px solid white;
}

.body{
	color: #282828;
}

.Header-container{
	position: relative;
	width: 100%;
	text-align: center;
	padding-bottom: 1%;
	overflow: auto;
	margin: 0;
	padding: 0;
}

header::after{
	content: **;
	display: table;
	clear: both;
}

.logo{
	float: left;
	width: 8.5%;
}


.nav-ul{
	margin: 0;
	padding: 0;
	list-style: none;

}

.nav-li{
	display: inline-block;
	margin-right: 6%;
	padding-top: 4%;
}

.nav-a{
	text-decoration: none;
	text-transform: uppercase;
	color: #404040;
	font-weight: bold;
  -webkit-transition: font-size .5s ease-in-out;
  -moz-transition: font-size .5s ease-in-out;
  -o-transition: font-size .5s ease-in-out;
  transition: font-size .5s ease-in-out;
}

.nav-a:hover{
   font-weight: bolder;
   color:#cc0099;
   cursor: pointer;
}

.Canada{
	width: 3.5%;
	position: absolute;
	top: 0;
	right: 0;
}

.main-section{
	width: 100%;
	overflow: auto;
	margin-top: 1%;
	position: relative;
}

.first-image{
	width: 50%;
	float: left;
}

.main-section-header{
	position: absolute;
	top: 10%;
	left: 52%;
	color: #404040;
}

.main-section-desc{
	position: absolute;
	left: 55%;
	top: 35%;
	padding-right: 2%;
	color: #404040;
}

.button {
  position: absolute;
  right: 5%;
  top: 85%;
  font-size: 1em;
  padding: 10px;
  color: #404040;
  border: 2px solid #404040;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #cc0099;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 2%;
  right: 3%;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 80%;
  overflow: auto;
}

.About-us{
	background-color: #cc0099;
	color: white;
	text-align: center;
	padding-bottom: 1%;
}

.second-pic{
	width: 100%;
	overflow: auto;
	position: relative;
}

.couple{
	width: 40%;
	float: right;
}

.walking-caption{
	margin-top: 8%;
	margin-left: 2%;
	background: linear-gradient(180deg, rgba(255,255,255,0) 50%, #FFD0AE 50%); 
}

.Section-header{
	padding: 2%;
	text-align: center;
}

.Services{
	text-align: center;
	margin: 2% 2%;
}

.Services-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: .5em;
}

.Services-card{
	transition: all .2s ease-in-out;
	padding: 6% 2%;
}

.Services-card:hover{
	transform: scale(1.1);
}

.Service-image{
	width: 75%;
	border-radius: 50%;
	border: 10px solid pink;
}

.Location{
	background-color: #cc0099;
	overflow: auto;
}

.Toronto-image{
	float: left;
	width: 30%;
	height: auto;
}

.Location-caption-container{
	width: 65%
	padding-left: 5%;
	height: 10%;
}

#Location-id{
	color: white;
}

.Location-caption{
	color: white;
	text-align: center;
	padding: 12% 2%;
}

.footer{
	width: 100%;
	height: 10%;
	padding: 4%;
	text-align: center;
	background-color:	 #e6e6e6;
}
}

@media only screen and (max-width: 700px){
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Georgia, Trajan, "Times New Roman", serif;
}

.Sale{
	width: 100%;
	height: 5%;
	background-color: #DC143C;
	color: white;
	text-align: center;
}

.Canada{
	display: none;
}

.body{
	color: #282828;
}

.Header-container{
	width: 100%;
	background-color: #cc0099;
	text-align: center;
	padding-bottom: 1%;
}

.nav{
	margin: 0 auto;
}

.nav-ul{
	margin: 0;
	padding: 0;
	list-style: none;

}

.nav-li{
	display: block;
	padding: 1%;
}

.nav-a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
}

.main-section{
	width: 100%;
	overflow: auto;
}

.main-section-header{
	text-align: center;
	padding: 2%;
}

.first-image{
	width: 80%;
	margin: 10% 10%;
}

.Good-life-caption{
	text-align: center;
	padding-top: 4%;
	color: #404040;
}

.About-us{
	background-color: #cc0099;
	color: white;
	text-align: center;
	padding-bottom: 1%;
}

.couple{
	width: 80%;
	margin: 10% 10%;
}

.Section-header{
	padding: 2%;
	text-align: center;
}

.Services{
	text-align: center;
	margin: 2% 2%;
}

.Services-card{
	padding: 0% 2%;
}

.Service-image{
	width: 200px;
	height: 200px;
}

.Location{
	background-color: #cc0099;
	overflow: auto;
}

.Toronto-image{
	width: 80%;
	height: auto;
	margin-right: 10%;
	margin-left: 10%;}

.Location-caption-container{
	width: 65%
	padding-left: 5%;
	height: 10%;
}

#Location-id{
	color: white;
}

.Location-caption{
	color: white;
	text-align: center;
	padding: 12% 2%;
}
}




